
/*--------------------------------------------*/
/*==              SUMMARY                  */
/*------------------------------------------*/
/*
	COLORS:					 18 
	FONTS: 					 27
	RESET:					 46
	MAIN COMPONENT:			 54
	HEADER:					114
	SECTION SEARCH:			151
	SECTION TOP:			236
	SECTION ACCOMODATION:	283
	SECTION ACTIVITY: 		309
	SECTION FOOTER:			317
	SECTION QUERIES:		334

/*-------------------------------------------*/
/*==              COLORS                  */
/*-----------------------------------------*/
/*
	Black (text): 				#000
	Gray (Background)			#F2F2F2
	Bleu light (Background) 	#DEEBFF
	Bleu Dark (icones)			#0065FC	

/*-------------------------------------------*/
/*==              FONTS                  */
/*-----------------------------------------*/

@font-face {
	src: url("../webfonts/Raleway-Regular.ttf") format("truetype");
	font-family: "Raleway-regular";
	font-style: normal;
	font-weight: normal;	
}
  
@font-face {
	src: url("../webfonts/Raleway-Bold.ttf") format("truetype");
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;  
}

/*---------------------------------------*/
/*==          MAIN COMPONENT    		*/
/*-------------------------------------*/

/* -------Bock---------*/

body {
	margin: 0;	
	font-family: "Raleway-regular", Arial, Helvetica, sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
	display: flex;
	margin-bottom: 10px;

}

h3 {
	font-size: 1rem;
}

.block {
	padding: 0 20px;
}

.block__title {
	display: flex;
	justify-content: space-between;
}

.block__subtitle {
	
}

.accomodations__button {
	background-color: transparent;
	border: none;
	font-size: 1rem;
	font-weight: 700;
}

/*--------Star-----*/

.ranking {
	color: #F2F2F2;
	font-size: 0.8rem;
	padding-bottom: 15px;
}

.ranking__icon {

}

.ranking__icon.is-active {
	color: #0065FC;	
}

/*---------------------------------------*/
/*==              HEADER                */
/*-------------------------------------*/

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	margin-bottom: 20px;		
}

.header__action {
	background-color: transparent;
	border: none;
	color: #0065FC;
	font-size: 1rem;
	font-weight: 700;	
	padding-right: 20px;
}

.header__nav {
	display: flex;
}

.header__link {
	padding: 10px 50px;
	border-bottom: solid 2px #F2F2F2;
}

.header__link.is-active {
	border-bottom: solid 2px #0065FC;
	color: #0065FC;
}

.logo {
	padding-left: 20px;
}


/*---------------------------------------*/
/*==         SEARCH + FILTERS 	        */
/*-------------------------------------*/

.search {
	position: relative;
}

.search__icon {	
	background-color: #F2F2F2;
	border-top-left-radius: 0.9rem;
	border-bottom-left-radius: 0.9rem;
	padding: 15px 15px;	
	position: absolute; 	
}

.search__input {
	border:solid 1px #F2F2F2;
	border-radius: 0.9rem;	
	font-size: 1.1rem;
	font-weight: 700;	
	padding: 12px 50px;	
}

.main__button {
	background-color: #0065FC;
	border-style: none;
	border-radius: 0.9rem;
	color: #F2F2F2;
	padding: 16px 16px;
	position: absolute; 
	right: -2px;
	top: 0;
}

.search__action {

}

.filters {
	padding-bottom: 20px;
		
}

.filter {
	background-color: transparent;
	border: solid 2px #F2F2F2;
	border-radius: 2rem;
	font-size: 1rem;
	margin: 0 15px 10px 10px;	
	padding: 15px 15px 15px 60px;
	position: relative;	
}

.filter__icon {
	background-color: #DEEBFF;
	border-radius: 50%;
	color: #0065FC;	
	padding: 18px;
	position: absolute;
	top: -2px;
	left: -1px;	
}

.info {

}

.info__icon {
	border: solid 1px #F2F2F2;
	border-radius: 100%;
	color: #0065FC;
	float: left;
	font-size: 0.5em;		
	margin-right: 5px;
	padding: 5px;
}

/*---------------------------------------*/
/*== HIT + ACCOMODATIONS + ACTIVITIES	*/
/*-------------------------------------*/

/*------------- block ----------------*/

.block--hit {
	background-color: #F2F2F2;
	padding: 20px;
}

/*-------------- box ----------------*/

.box {	
	background-color: #ffffff;
	border-radius: 2rem;
	box-shadow: 1px 1px 5px #F2F2F2;
	display: flex;
	flex-direction: column;			
	margin-bottom: 20px;	
}

.box__content {
	padding: 0 15px;
}

.box__image {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	height: 150px;
	object-fit: cover;
	padding: 5px;				
}

.box__subtitle {
	font-weight: 400;	
}

.block--hit .box {
	display: flex;
	flex-direction: row;	
}

.block--hit .box__image {
	border-bottom-left-radius: 2rem;
	border-top-right-radius: 0;	
	height: 180px;
	width: 50%;
}

.block--activities .box__image {
	padding: 0;
}

/*---------------------------------------*/
/*==              FOOTER                */
/*-------------------------------------*/

.block--footer {
	background-color: #F2F2F2;	
}

.is-first {

}
/*---------------------------------------*/
/*==              QUERIES               */
/*-------------------------------------*/

/*-------------- DESKTOP -------------*/

